In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [5]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [3]:
label_encoder = LabelEncoder()

X['departure_time'] =label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [4]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [5]:
Y = list(X['price'])

In [6]:
Y = {'price' : Y}
Y = pd.DataFrame(Y)

In [7]:
Y

        price
0        5953
1        5953
2        5956
3        5955
4        5955
...       ...
270133  68739
270134  69265
270135  77105
270136  81585
270137  81585

[270138 rows x 1 columns]

In [8]:
X['departure_time'] = X['departure_time'].astype(float)
X['stops'] = X['stops'].astype(float)
X['arrival_time'] = X['arrival_time'].astype(float)
X['class'] = X['class'].astype(float)
X['days_left'] = X['days_left'].astype(float)

Y['price'] = Y['price'].astype(float)

In [9]:
X = X.drop('price', axis=1)

In [10]:
X

        departure_time  stops  arrival_time  class  duration  days_left
0                  2.0    2.0           5.0    1.0      2.17        1.0
1                  1.0    2.0           4.0    1.0      2.33        1.0
2                  1.0    2.0           1.0    1.0      2.17        1.0
3                  4.0    2.0           0.0    1.0      2.25        1.0
4                  4.0    2.0           4.0    1.0      2.33        1.0
...                ...    ...           ...    ...       ...        ...
270133             1.0    0.0           5.0    0.0     17.25       49.0
270134             4.0    0.0           2.0    0.0     10.08       49.0
270135             0.0    0.0           5.0    0.0     10.42       49.0
270136             1.0    0.0           2.0    0.0     10.00       49.0
270137             4.0    0.0           2.0    0.0     10.08       49.0

[270138 rows x 6 columns]

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [12]:
Y

          price
0        5953.0
1        5953.0
2        5956.0
3        5955.0
4        5955.0
...         ...
270133  68739.0
270134  69265.0
270135  77105.0
270136  81585.0
270137  81585.0

[270138 rows x 1 columns]

In [13]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
145807             2.0    0.0           5.0    1.0      5.17       26.0
205516             1.0    0.0           0.0    0.0      7.67       34.0
145745             1.0    0.0           2.0    1.0     12.75       25.0
97419              0.0    0.0           5.0    1.0      7.17       40.0
69143              2.0    2.0           5.0    1.0      1.58       46.0
...                ...    ...           ...    ...       ...        ...
126787             4.0    1.0           2.0    1.0     30.92       38.0
40428              4.0    0.0           0.0    1.0      5.08       12.0
150447             5.0    0.0           4.0    1.0     12.00       18.0
38603              2.0    2.0           5.0    1.0      2.83       49.0
242513             2.0    2.0           5.0    0.0      2.58       37.0

[216110 rows x 6 columns]

In [14]:
Y_train

          price
145807   4416.0
205516  50957.0
145745   7133.0
97419    3393.0
69143    3450.0
...         ...
126787   7294.0
40428   12138.0
150447   4452.0
38603    2399.0
242513  25470.0

[216110 rows x 1 columns]

In [15]:
min_items_list = list(X.min())

In [16]:
max_items_list = list(X.max())

In [17]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

departure_time_test = np.array([])
stops_test = np.array([])
arrival_time_test = np.array([])
class_test = np.array([])
duration_test = np.array([])
days_left_test = np.array([])

In [18]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

departure_time_test = X_test['departure_time'].to_numpy()
stops_test = X_test['stops'].to_numpy()
arrival_time_test = X_test['arrival_time'].to_numpy()
class_test = X_test['class'].to_numpy()
duration_test = X_test['duration'].to_numpy()
days_left_test = X_test['days_left'].to_numpy()

In [19]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

for i in range(len(X_test.index)):
    np.put(departure_time_test, [i], (departure_time_test[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_test, [i], (stops_test[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_test, [i], (arrival_time_test[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_test, [i], (class_test[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_test, [i], (duration_test[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_test, [i], (days_left_test[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [20]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
145807             0.4    0.0           1.0    1.0  0.088571   0.520833
205516             0.2    0.0           0.0    0.0  0.139592   0.687500
145745             0.2    0.0           0.4    1.0  0.243265   0.500000
97419              0.0    0.0           1.0    1.0  0.129388   0.812500
69143              0.4    1.0           1.0    1.0  0.015306   0.937500
...                ...    ...           ...    ...       ...        ...
126787             0.8    0.5           0.4    1.0  0.614082   0.770833
40428              0.8    0.0           0.0    1.0  0.086735   0.229167
150447             1.0    0.0           0.8    1.0  0.227959   0.354167
38603              0.4    1.0           1.0    1.0  0.040816   1.000000
242513             0.4    1.0           1.0    0.0  0.035714   0.750000

[216110 rows x 6 columns]

In [21]:
arrival_time_normalization[2]
#departure_time_normalization[3]

0.4

In [22]:
X.min()

departure_time    0.00
stops             0.00
arrival_time      0.00
class             0.00
duration          0.83
days_left         1.00
dtype: float64

In [23]:
X.max()

departure_time     5.00
stops              2.00
arrival_time       5.00
class              1.00
duration          49.83
days_left         49.00
dtype: float64

In [24]:
#Y_max = Y.max()
Y_max = 123071
Y_max

123071

In [25]:
#Y_min = Y.min()
Y_min = 1105
Y_min

1105

In [26]:
price_normalization = np.array([])
price_test = np.array([])

In [27]:
price_normalization = Y_train['price'].to_numpy()
price_test = Y_test['price'].to_numpy()

In [28]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - Y_min)/ (Y_max - Y_min))

for i in range(len(Y_test.index)):
    np.put(price_test, [i], (price_test[i] - Y_min)/ (Y_max - Y_min))

In [29]:
def mse(y_train, y_predicted):
     mse_error = np.sum((y_train - y_predicted)**2) / (2 * len(y_train))
     return mse_error

def rmse(y_train, y_predicted):
     rmse_error = np.sqrt(mse(y_train, y_predicted))
     return rmse_error

def mae(y_train, y_predicted):
     mae_error = np.sum(np.abs(y_train - y_predicted)) / (2 * len(y_train))
     return mae_error

def r_squared (y_train, y_predicted):
     r_squared_error = 1 - (np.sum((y_train - y_predicted)**2) / np.sum((y_train - np.average(y_train))**2))
     return r_squared_error

In [38]:
def gradient_descent(departure_time, stops, arrival_time, class_type, duration, days_left,
                     price, iterations, learning_rate = 0.1, stopping_threshold = 1e-5):
    w_departure_time = 0.05
    w_stops = 0.2
    w_arrival_time = 0.05
    w_class_type = 0.6
    w_duration = 0.3
    w_days_left = 0.3
    b = 0.01
    
    n = float(len(departure_time))
     
    mse_errors = []
    weights = []
    previous_mse_error = None

    for i in range(iterations):
         
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b)
        mse_error = r_squared(price, price_predicted)
 
        if previous_mse_error and abs(previous_mse_error - mse_error) <= stopping_threshold:
            break
         
        previous_mse_error = mse_error
 
        mse_errors.append(mse_error)

        w_departure_time_derivative = -(2/n) * sum(departure_time * (price - price_predicted))
        w_stops_derivative = -(2/n) * sum(stops * (price - price_predicted))
        w_arrival_time_derivative = -(2/n) * sum(arrival_time * (price - price_predicted))
        w_class_type_derivative = -(2/n) * sum(class_type * (price - price_predicted))
        w_duration_derivative = -(2/n) * sum(duration * (price - price_predicted))
        w_days_left_derivative = -(2/n) * sum(days_left * (price - price_predicted))
        b_derivative = -(2/n) * sum(price - price_predicted)
         
        w_departure_time = w_departure_time - (learning_rate * w_departure_time_derivative)
        w_stops = w_stops - (learning_rate * w_stops_derivative)
        w_arrival_time = w_arrival_time - (learning_rate * w_arrival_time_derivative)
        w_class_type = w_class_type - (learning_rate * w_class_type_derivative)
        w_duration = w_duration - (learning_rate * w_duration_derivative)
        w_days_left = w_days_left - (learning_rate * w_days_left_derivative)
        b = b - (learning_rate * b_derivative)

        print(mse_errors[i])
    return w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b

w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b = gradient_descent(
    departure_time_normalization, stops_normalization, arrival_time_normalization,
    class_normalization, duration_normalization, days_left_normalization,
    price_normalization, len(price_normalization))

-14.835983956255193
-5.948539633466514
-3.5452655250573555
-2.7636411376118697
-2.3976501834547457
-2.1474083203309395
-1.9376413698347363
-1.7488048523230821
-1.5752314643202876
-1.4147552589127668
-1.2661358384851829
-1.128415678449127
-1.0007567986191845
-0.8823965233250592
-0.7726330379150681
-0.6708185939682172
-0.5763548549910842
-0.4886889990143677
-0.4073102179752879
-0.33174650869580136
-0.26156171465130207
-0.196352794802636
-0.13574730103463573
-0.07940104800957681
-0.026995960691432064
0.021761914026010132
0.06714424410626585
0.1094021091335663
0.14876756773101352
0.18545510549732402
0.21966297257360556
0.2515744192566991
0.2813588374336947
0.30917281501925575
0.33516111002967297
0.359457550421611
0.38218586535613674
0.40346045311692913
0.423387090512755
0.4420635882259498
0.459580396228347
0.4760211630717994
0.4914632525700737
0.5059782211207056
0.5196322586676598
0.5324865960767783
0.5445978814846189
0.5560185279860077
0.5667970348452461
0.5769782842493003
0.586603815467382
0.5957120781391574
0.6043386662824872
0.6125165344902916
0.6202761976740628
0.6276459156080418
0.6346518634324473
0.641318289185818
0.6476676593549439
0.6537207933554801
0.6594969877867285
0.6650141312397513
0.6702888103785791
0.675336407959394
0.6801711934018826
0.6848064064801231
0.6892543346571167
0.6935263845471196
0.6976331479530187
0.701584462891903
0.7053894699904864
0.7090566646029404
0.7125939449768335
0.7160086567680286
0.7193076341824789
0.722497238001663
0.7255833907288396
0.7285716090752254
0.731467033988497
0.7342744584106006
0.7369983529375965
0.7396428895411098
0.742211963498796
0.7447092136699989
0.747138041242405
0.7495016270659127
0.751802947681079
0.7540447901413323
0.7562297657205805
0.7583603225908659
0.7604387575482733
0.7624672268593353
0.7644477562946874
0.7663822504116329
0.7682725011425887
0.7701201957420445
0.7719269241406598
0.7736941857514259
0.7754233957693942
0.777115891003322
0.7787729352746607
0.7803957244166227
0.7819853909035697
0.7835430081386636
0.7850695944256006
0.7865661166482812
0.7880334936804574
0.7894725995457235
0.7908842663466669
0.7922692869805701
0.7936284176577243
0.7949623802372087
0.7962718643938486
0.7975575296290334
0.7988200071371061
0.8000599015381556
0.80127779248721
0.8024742361690832
0.8036497666874154
0.8048048973558071
0.8059401218983436
0.8070559155662593
0.8081527361769726
0.8092310250812582
0.810291208063884
0.8113336961826335
0.812358886550271
0.8133671630636541
0.8143588970838855
0.8153344480711013
0.8162941641772207
0.817238382799732
0.81816743109936
0.8190816264842404
0.8199812770630377
0.8208666820692497
0.821738132258784
0.822595910282725
0.823440291037076
0.824271541991118
0.8250899234959113
0.8258956890743483
0.8266890856940611
0.8274703540243897
0.8282397286785315
0.8289974384418995
0.8297437064876536
0.8304787505802839
0.8312027832680717
0.8319160120651857
0.8326186396241164
0.8333108638991019
0.8339928783011487
0.8346648718452061
0.8353270292900146
0.8359795312711067
0.8366225544274081
0.8372562715218503
0.8378808515563806
0.8384964598817218
0.8391032583022151
0.839701405176049
0.8402910555111622
0.8408723610570804
0.8414454703929359
0.8420105290118955
0.8425676794022103
0.8431170611250824
0.8436588108895323
0.8441930626244396
0.8447199475479112
0.8452395942341292
0.8457521286778125
0.8462576743564224
0.8467563522902309
0.8472482811003637
0.8477335770649196
0.848212354173268
0.8486847241786099
0.8491507966488909
0.8496106790161435
0.8500644766243342
0.8505122927757829
0.8509542287762223
0.8513903839785547
0.8518208558253677
0.8522457398902579
0.8526651299180162
0.8530791178637215
0.8534877939307849
0.8538912466079904
0.8542895627055679
0.8546828273903375
0.8550711242199602
0.8554545351763271
0.8558331406981199
0.8562070197125707
0.8565762496664505
0.8569409065563117
0.8573010649580111
0.8576567980555359
0.8580081776691565
0.8583552742829269
0.8586981570715534
0.8590368939266513
0.8593715514824081
0.8597021951406705
0.8600288890954729
0.8603516963570236
0.8606706787751619
0.8609858970623052
0.8612974108158957
0.8616052785403641
0.8619095576686194
0.8622103045830825
0.8625075746362693
0.8628014221709409
0.8630919005398281
0.8633790621249413
0.8636629583564792
0.8639436397313414
0.8642211558312589
0.8644955553405489
0.8647668860635047
0.8650351949414279
0.8653005280693122
0.8655629307121868
0.8658224473211269
0.8660791215489386
0.8663329962655281
0.8665841135729572
0.8668325148201984
0.8670782406175912
0.8673213308510082
0.8675618246957385
0.8677997606300926
0.8680351764487351
0.8682681092757527
0.8684985955774615
0.8687266711749594
0.8689523712564305
0.8691757303892043
0.8693967825315774
0.8696155610444003
0.8698320987024366
0.8700464277054972
0.870258579689356
0.87046858573645
0.8706764763863688
0.8708822816461399
0.8710860310003092
0.871287753420827
0.8714874773767369
0.871685230843679
0.871881041313203
0.8720749358019027
0.8722669408603702
0.8724570825819753
0.8726453866114753
0.8728318781534544
0.873016581980601
0.8731995224418221
0.8733807234702016
0.8735602085908016
0.8737380009283138
0.8739141232145617
0.8740885977958568
0.8742614466402122
0.8744326913444169
0.8746023531409716
0.874770452904891
0.8749370111603747
0.8751020480873474
0.875265583527874
0.8754276369924501
0.8755882276661702
0.8757473744147777
0.8759050957905972
0.8760614100383524
0.8762163351008716
0.876369888624684
0.8765220879655058
0.8766729501936229
0.8768224920991685
0.8769707301972993
0.8771176807332713
0.8772633596874195
0.8774077827800396
0.8775509654761776
0.877692922990326
0.8778336702910302
0.8779732221054062
0.8781115929235718
0.878248797002992
0.8783848483727413
0.8785197608376848
0.8786535479825774
0.8787862231760863
0.8789177995747348
0.8790482901267714
0.8791777075759646
0.8793060644653243
0.8794333731407528
0.8795596457546256
0.8796848942693037
0.8798091304605782
0.8799323659210497
0.8800546120634432
0.8801758801238584
0.8802961811649597
0.8804155260791037
0.880533925591408
0.8806513902627613
0.8807679304927752
0.880883556522681
0.8809982784381705
0.8811121061721826
0.8812250495076376
0.8813371180801186
0.8814483213805019
0.8815586687575384
0.8816681694203846
0.8817768324410863
0.8818846667570144
0.8819916811732561
0.8820978843649582
0.8822032848796278
0.8823078911393895
0.8824117114431977
0.8825147539690099
0.8826170267759164
0.882718537806231
0.8828192948875417
0.8829193057347229
0.883018577951909
0.8831171190344312
0.8832149363707179
0.8833120372441584
0.8834084288349323
0.8835041182218036
0.8835991123838823
0.8836934182023508
0.8837870424621601
0.8838799918536918
0.8839722729743908
0.8840638923303661
0.8841548563379619
0.8842451713252991
0.8843348435337882
0.8844238791196136
0.8845122841551893
0.8846000646305895
0.8846872264549495
0.8847737754578426
0.8848597173906309
0.8849450579277894
0.8850298026682077
0.8851139571364652
0.8851975267840837
0.8852805169907569
0.8853629330655559
0.8854447802481129
0.8855260637097833
0.8856067885547851
0.8856869598213187
0.8857665824826638
0.8858456614482579
0.8859242015647539
0.886002207617058
0.8860796843293487
0.8861566363660771
0.8862330683329481
0.8863089847778842
0.8863843901919707
0.8864592890103843
0.8865336856133041
0.8866075843268061
0.8866809894237404
0.8867539051245938
0.8868263355983352
0.8868982849632462
0.8869697572877356
0.8870407565911411
0.8871112868445131
0.887181351971387
0.8872509558485401
0.8873201023067346
0.8873887951314476
0.8874570380635874
0.887524834800197
0.8875921889951441
0.8876591042598003
0.8877255841637057
0.8877916322352231
0.8878572519621795
0.8879224467924964
0.887987220134809
0.8880515753590732
0.8881155157971625
0.8881790447434537
0.8882421654554026
0.8883048811541089
0.8883671950248705
0.8884291102177293
0.8884906298480055
0.8885517569968235
0.8886124947116281
0.8886728460066907
0.8887328138636086
0.8887924012317924
0.888851611028947
0.8889104461415438
0.8889689094252831
0.8890270037055497
0.88908473177786
0.8891420964083014
0.8891991003339631
0.8892557462633603
0.8893120368768507
0.8893679748270426
0.8894235627391978
0.8894788032116259
0.8895336988160718
0.8895882520980974
0.8896424655774553
0.889696341748457
0.8897498830803345
0.8898030920175951
0.8898559709803705
0.8899085223647596
0.8899607485431658
0.8900126518646277
0.8900642346551451
0.8901154992179979
0.8901664478340615
0.8902170827621148
0.8902674062391441
0.8903174204806419
0.8903671276808993
0.8904165300132951
0.8904656296305788
0.8905144286651492
0.890562929229328
0.8906111334156294
0.890659043297024
0.8907066609271996
0.890753988340817
0.8908010275537606
0.8908477805633861
0.890894249348764
0.8909404358709176
0.8909863420730592
0.8910319698808195
0.8910773212024765
0.8911223979291781
0.8911672019351617
0.8912117350779708
0.8912559991986668
0.891299996122039
0.8913437276568092
0.8913871955958346
0.8914304017163059
0.891473347779944
0.8915160355331916
0.8915584667074025
0.8916006430190283
0.8916425661698014
0.8916842378469152
0.8917256597232012
0.8917668334573038
0.8918077606938519
0.8918484430636279
0.8918888821837333
0.8919290796577535
0.891969037075917
0.8920087560152558
0.8920482380397594
0.8920874847005297
0.8921264975359309
0.892165278071739
0.8922038278212874
0.8922421482856112
0.8922802409535893
0.8923181073020832
0.8923557487960747
0.8923931668888014
0.8924303630218899
0.8924673386254861
0.8925040951183852
0.8925406339081586
0.8925769563912784
0.8926130639532416
0.8926489579686907
0.8926846398015341
0.8927201108050627
0.892755372322067
0.8927904256849505
0.8928252722158424
0.8928599132267088
0.892894350019461
0.8929285838860643
0.8929626161086427
0.8929964479595839
0.8930300807016424
0.8930635155880399
0.893096753862566
0.8931297967596767
0.8931626455045903
0.893195301313384
0.8932277653930875
0.893260038941776
0.8932921231486618
0.893324019194184
0.8933557282500981
0.8933872514795629
0.8934185900372269
0.8934497450693143
0.8934807177137079
0.8935115091000321
0.8935421203497353
0.8935725525761692
0.8936028068846689
0.8936328843726307
0.8936627861295898
0.893692513237296
0.8937220667697885
0.8937514477934705
0.893780657367182
0.8938096965422716
0.8938385663626679
0.8938672678649492
0.8938958020784129
0.893924170025144
0.8939523727200815
0.893980411171086
0.8940082863790042
0.894035999337734
0.8940635510342887
0.8940909424488591
0.8941181745548766
0.8941452483190737
0.8941721647015454
0.8941989246558079
0.8942255291288588
0.8942519790612347
0.8942782753870684
0.8943044190341464
0.8943304109239646
0.8943562519717834
0.8943819430866828
0.8944074851716164
0.8944328791234638
0.8944581258330845
0.8944832261853688
0.8945081810592899
0.8945329913279544
0.8945576578586517
0.8945821815129049
0.8946065631465181
0.8946308036096259
0.8946549037467402
0.8946788643967982
0.8947026863932083
0.8947263705638963
0.8947499177313507
0.8947733287126686
0.8947966043195982
0.8948197453585849
0.8948427526308127
0.8948656269322487
0.8948883690536842
0.8949109797807773
0.8949334598940941
0.8949558101691498
0.8949780313764487
0.8950001242815249
0.895022089644981
0.8950439282225281
0.8950656407650238
0.8950872280185109
0.8951086907242549
0.8951300296187816
0.8951512454339139
0.8951723388968086
0.8951933107299923
0.8952141616513977
0.8952348923743982
0.895255503607844
0.8952759960560955
0.8952963704190587
0.8953166273922184
0.8953367676666721
0.8953567919291628
0.8953767008621127
0.8953964951436545
0.8954161754476646
0.8954357424437943
0.8954551967975017
0.8954745391700828
0.8954937702187019
0.895512890596423
0.8955319009522392
0.895550801931103
0.8955695941739563
0.8955882783177589
0.895606854995518
0.8956253248363173
0.8956436884653447
0.895661946503921
0.8956800995695278
0.8956981482758348
0.8957160932327275
0.895733935046334
0.8957516743190524
0.8957693116495765
0.8957868476329226
0.8958042828604561
0.8958216179199161
0.895838853395442
0.8958559898675987
0.8958730279134011
0.8958899681063394
0.8959068110164038
0.8959235572101089
0.8959402072505175
0.895956761697265
0.8959732211065828
0.8959895860313221
0.8960058570209768
0.8960220346217072
0.8960381193763624
0.8960541118245029
0.8960700125024235
0.8960858219431754
0.8961015406765882
0.8961171692292915
0.8961327081247373
0.896148157883221
0.8961635190219026
0.8961787920548281
0.8961939774929505
0.8962090758441502
0.8962240876132559
0.8962390133020649
0.8962538534093634
0.896268608430946
0.8962832788596368
0.8962978651853075
0.8963123678948987
0.8963267874724377
0.8963411243990586
0.8963553791530213
0.8963695522097304
0.8963836440417534
0.89639765511884
0.89641158590794
0.8964254368732224
0.8964392084760924
0.89645290117521
0.8964665154265082
0.89648005168321
0.8964935103958461
0.8965068920122731
0.8965201969776894
0.8965334257346536
0.8965465787231007
0.8965596563803596
0.8965726591411691
0.8965855874376951
0.8965984416995469
0.8966112223537934
0.8966239298249796
0.8966365645351422
0.896649126903826
0.8966616173481
0.8966740362825721
0.8966863841194059
0.8966986612683352
0.89671086813668
0.8967230051293615
0.8967350726489172
0.896747071095516
0.896759000866973
0.8967708623587645
0.8967826559640423
0.8967943820736488
0.8968060410761308
0.8968176333577547
0.8968291593025196
0.8968406192921728
0.8968520137062227
0.8968633429219532
0.8968746073144377
0.8968858072565524
0.8968969431189903
0.8969080152702746
0.8969190240767722
0.8969299699027065
0.8969408531101718
0.8969516740591453
0.8969624331075008
0.896973130611021
0.8969837669234116
0.8969943423963126
0.8970048573793119
0.8970153122199579
0.8970257072637714
0.8970360428542586
0.8970463193329231
0.8970565370392783
0.8970666963108597
0.8970767974832362
0.8970868408900234

In [35]:
def price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b):
    price_predicted = (w_arrival_time * arrival_time) + (w_departure_time * departure_time) + (w_stops * stops) + (w_class_type * class_type) +(w_duration * duration) + (w_days_left * days_left) + b
    return price_predicted

In [39]:
def test(arrival_time, departure_time, stops, class_type, duration, days_left,
         price, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b):
    
    for i in range(len(X_test)):
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type,
                                              w_duration, w_days_left, arrival_time, departure_time,
                                              stops, class_type, duration, days_left, b)

    mse_error = mse(price_test, price_predicted)
    rmse_error = rmse(price_test, price_predicted)
    mae_error = mae(price_test, price_predicted)
    r_squared_error = r_squared(price_test, price_predicted)

    print(mse_error)
    print(rmse_error)
    print(mae_error)
    print(r_squared_error)

test(arrival_time_test, departure_time_test, stops_test, class_test, duration_test, days_left_test, 
     price_test, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b)

0.0017705564991271126
0.04207798116743616
0.019461510443849007
0.8974490017680651

In [ ]:
plt.scatter(X_train, y_train,color='g')
plt.plot(X_test, y_pred,color='k')