In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [36]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [37]:
label_encoder = LabelEncoder()

X['departure_time'] =label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [38]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [39]:
Y = list(X['price'])

In [40]:
Y = {'price' : Y}
Y = pd.DataFrame(Y)

In [41]:
Y

        price
0        5953
1        5953
2        5956
3        5955
4        5955
...       ...
270133  68739
270134  69265
270135  77105
270136  81585
270137  81585

[270138 rows x 1 columns]

In [42]:
X['departure_time'] = X['departure_time'].astype(float)
X['stops'] = X['stops'].astype(float)
X['arrival_time'] = X['arrival_time'].astype(float)
X['class'] = X['class'].astype(float)
X['days_left'] = X['days_left'].astype(float)

Y['price'] = Y['price'].astype(float)

In [43]:
X = X.drop('price', axis=1)

In [44]:
X

        departure_time  stops  arrival_time  class  duration  days_left
0                  2.0    2.0           5.0    1.0      2.17        1.0
1                  1.0    2.0           4.0    1.0      2.33        1.0
2                  1.0    2.0           1.0    1.0      2.17        1.0
3                  4.0    2.0           0.0    1.0      2.25        1.0
4                  4.0    2.0           4.0    1.0      2.33        1.0
...                ...    ...           ...    ...       ...        ...
270133             1.0    0.0           5.0    0.0     17.25       49.0
270134             4.0    0.0           2.0    0.0     10.08       49.0
270135             0.0    0.0           5.0    0.0     10.42       49.0
270136             1.0    0.0           2.0    0.0     10.00       49.0
270137             4.0    0.0           2.0    0.0     10.08       49.0

[270138 rows x 6 columns]

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [46]:
Y

          price
0        5953.0
1        5953.0
2        5956.0
3        5955.0
4        5955.0
...         ...
270133  68739.0
270134  69265.0
270135  77105.0
270136  81585.0
270137  81585.0

[270138 rows x 1 columns]

In [47]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
216730             5.0    0.0           4.0    0.0     11.75       40.0
168677             1.0    0.0           4.0    1.0     27.17       48.0
4657               5.0    2.0           5.0    1.0      2.25       27.0
170834             1.0    0.0           0.0    1.0      6.67       19.0
79607              2.0    0.0           3.0    1.0      8.67       23.0
...                ...    ...           ...    ...       ...        ...
171792             0.0    0.0           2.0    1.0      5.33       27.0
190774             2.0    0.0           5.0    0.0     28.08        1.0
11690              0.0    0.0           2.0    1.0      4.92       17.0
157371             0.0    0.0           2.0    1.0      4.92       37.0
69198              0.0    0.0           4.0    1.0     20.50       46.0

[216110 rows x 6 columns]

In [48]:
Y_train

          price
216730  58125.0
168677   4827.0
4657     3001.0
170834   5092.0
79607    6072.0
...         ...
171792   3349.0
190774  53771.0
11690    4496.0
157371   7696.0
69198    4173.0

[216110 rows x 1 columns]

In [49]:
min_items_list = list(X.min())

In [50]:
max_items_list = list(X.max())

In [51]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

departure_time_test = np.array([])
stops_test = np.array([])
arrival_time_test = np.array([])
class_test = np.array([])
duration_test = np.array([])
days_left_test = np.array([])

In [52]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

departure_time_test = X_test['departure_time'].to_numpy()
stops_test = X_test['stops'].to_numpy()
arrival_time_test = X_test['arrival_time'].to_numpy()
class_test = X_test['class'].to_numpy()
duration_test = X_test['duration'].to_numpy()
days_left_test = X_test['days_left'].to_numpy()

In [53]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

for i in range(len(X_test.index)):
    np.put(departure_time_test, [i], (departure_time_test[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_test, [i], (stops_test[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_test, [i], (arrival_time_test[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_test, [i], (class_test[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_test, [i], (duration_test[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_test, [i], (days_left_test[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [54]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
216730             1.0    0.0           0.8    0.0  0.222857   0.812500
168677             0.2    0.0           0.8    1.0  0.537551   0.979167
4657               1.0    1.0           1.0    1.0  0.028980   0.541667
170834             0.2    0.0           0.0    1.0  0.119184   0.375000
79607              0.4    0.0           0.6    1.0  0.160000   0.458333
...                ...    ...           ...    ...       ...        ...
171792             0.0    0.0           0.4    1.0  0.091837   0.541667
190774             0.4    0.0           1.0    0.0  0.556122   0.000000
11690              0.0    0.0           0.4    1.0  0.083469   0.333333
157371             0.0    0.0           0.4    1.0  0.083469   0.750000
69198              0.0    0.0           0.8    1.0  0.401429   0.937500

[216110 rows x 6 columns]

In [55]:
arrival_time_normalization[2]
#departure_time_normalization[3]

1.0

In [56]:
X.min()

departure_time    0.00
stops             0.00
arrival_time      0.00
class             0.00
duration          0.83
days_left         1.00
dtype: float64

In [57]:
X.max()

departure_time     5.00
stops              2.00
arrival_time       5.00
class              1.00
duration          49.83
days_left         49.00
dtype: float64

In [58]:
#Y_max = Y.max()
Y_max = 123071
Y_max

123071

In [59]:
#Y_min = Y.min()
Y_min = 1105
Y_min

1105

In [60]:
price_normalization = np.array([])
price_test = np.array([])

In [61]:
price_normalization = Y_train['price'].to_numpy()
price_test = Y_test['price'].to_numpy()

In [62]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - Y_min)/ (Y_max - Y_min))

for i in range(len(Y_test.index)):
    np.put(price_test, [i], (price_test[i] - Y_min)/ (Y_max - Y_min))

In [63]:
def mse(y_train, y_predicted):
     mse_error = np.sum((y_train - y_predicted)**2) / (2 * len(y_train))
     return mse_error

def rmse(y_train, y_predicted):
     rmse_error = np.sqrt(mse(y_train, y_predicted))
     return rmse_error

def mae(y_train, y_predicted):
     mae_error = np.sum(np.abs(y_train - y_predicted)) / (2 * len(y_train))
     return mae_error

def r_squared (y_train, y_predicted):
     r_squared_error = 1 - (np.sum((y_train - y_predicted)**2) / np.sum((y_train - np.average(y_train))**2))
     return r_squared_error

In [ ]:
def gradient_descent(departure_time, stops, arrival_time, class_type, duration, days_left,
                     price, iterations, learning_rate = 0.1, stopping_threshold = 1e-5):
    w_departure_time = 0.05
    w_stops = 0.2
    w_arrival_time = 0.05
    w_class_type = 0.6
    w_duration = 0.3
    w_days_left = 0.3
    b = 0.01
    
    n = float(len(departure_time))
     
    mse_errors = []
    weights = []
    previous_mse_error = None

    for i in range(iterations):
         
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b)
        mse_error = r_squared(price, price_predicted)
 
        if previous_mse_error and abs(previous_mse_error - mse_error) <= stopping_threshold:
            break
         
        previous_mse_error = mse_error
 
        mse_errors.append(mse_error)

        w_departure_time_derivative = -(2/n) * sum(departure_time * (price - price_predicted))
        w_stops_derivative = -(2/n) * sum(stops * (price - price_predicted))
        w_arrival_time_derivative = -(2/n) * sum(arrival_time * (price - price_predicted))
        w_class_type_derivative = -(2/n) * sum(class_type * (price - price_predicted))
        w_duration_derivative = -(2/n) * sum(duration * (price - price_predicted))
        w_days_left_derivative = -(2/n) * sum(days_left * (price - price_predicted))
        b_derivative = -(2/n) * sum(price - price_predicted)
         
        w_departure_time = w_departure_time - (learning_rate * w_departure_time_derivative)
        w_stops = w_stops - (learning_rate * w_stops_derivative)
        w_arrival_time = w_arrival_time - (learning_rate * w_arrival_time_derivative)
        w_class_type = w_class_type - (learning_rate * w_class_type_derivative)
        w_duration = w_duration - (learning_rate * w_duration_derivative)
        w_days_left = w_days_left - (learning_rate * w_days_left_derivative)
        b = b - (learning_rate * b_derivative)

        print(mse_errors[i])
    return w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b

w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b = gradient_descent(
    departure_time_normalization, stops_normalization, arrival_time_normalization,
    class_normalization, duration_normalization, days_left_normalization,
    price_normalization, len(price_normalization))

-14.865306574320885
-5.951232681359943
-3.5428686720928564
-2.7606767401443855
-2.3950063873224816
-2.145219673105805
-1.9358945022691776
-1.7474615810328422
-1.5742524259477144
-1.414103893157658
-1.2657787534842262
-1.1283224428634995
-1.0008996837288882
-0.8827502665777212
-0.7731746303024343
-0.6715270871848082
-0.5772111854569952
-0.48967582685975297
-0.4084117795759119
-0.33294848158354395
-0.26285109375830684
-0.19771777909502752
-0.1371771896727607
-0.08088614524372217
-0.028527488767360776
0.020191894617533124
0.06554290764688186
0.10777593152221732
0.1471223876706289
0.1837961804951317
0.2179950301879432
0.24990170398741174
0.2796851536203606
0.30750156608133694
0.3334953343550219
0.35779995418436294
0.38053885252171915
0.40182615287051804
0.4217673823278927
0.44046012477201835
0.45799462429906934
0.47445434270177655
0.48991647449244946
0.5044524227062932
0.5181282384741481
0.5310050271258999
0.5431393233753098
0.5545834379425426
0.565385777791057
0.5755911419895761
0.585240995056576
0.5943737195031422
0.6030248491592299
0.6112272847475491
0.6190114930576706
0.6264056909698532
0.633436015482834
0.6401266808118569
0.6465001235419239
0.6525771367461854
0.6583769939100262
0.6639175634373347
0.6692154144562678
0.6742859145871394
0.6791433202845727
0.6838008603193899
0.6882708129226263
0.6925645770742364
0.6966927383822943
0.7006651299645044
0.7044908887124679
0.7081785072901534
0.7117358821912414
0.7151703581552726
0.7184887692196784
0.7216974766636584
0.7248024040803704
0.7278090697958803
0.730722616836678
0.7335478406321936
0.7362892146245421

In [66]:
def price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b):
    price_predicted = (w_arrival_time * arrival_time) + (w_departure_time * departure_time) + (w_stops * stops) + (w_class_type * class_type) +(w_duration * duration) + (w_days_left * days_left) + b
    return price_predicted

In [67]:
def test(arrival_time, departure_time, stops, class_type, duration, days_left,
         price, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b):
    
    for i in range(len(X_test)):
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type,
                                              w_duration, w_days_left, arrival_time, departure_time,
                                              stops, class_type, duration, days_left, b)

    mse_error = mse(price_test, price_predicted)
    rmse_error = rmse(price_test, price_predicted)
    mae_error = mae(price_test, price_predicted)
    r_squared_error = r_squared(price_test, price_predicted)

    print(mse_error)
    print(rmse_error)
    print(mae_error)
    print(r_squared_error)

test(arrival_time_test, departure_time_test, stops_test, class_test, duration_test, days_left_test, 
     price_test, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b)

0.0017953407552001672
0.04237146156554158
0.019642117525795148
0.8963930392366303