In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [3]:
label_encoder = LabelEncoder()

X['departure_time'] = label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [4]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [5]:
Y = list(X['price'])

In [6]:
Y = {'price' : Y}
Y = pd.DataFrame(Y)

In [7]:
Y

        price
0        5953
1        5953
2        5956
3        5955
4        5955
...       ...
270133  68739
270134  69265
270135  77105
270136  81585
270137  81585

[270138 rows x 1 columns]

In [8]:
X = X.drop('price', axis=1)

In [9]:
X

        departure_time  stops  arrival_time  class  duration  days_left
0                    2      2             5      1      2.17          1
1                    1      2             4      1      2.33          1
2                    1      2             1      1      2.17          1
3                    4      2             0      1      2.25          1
4                    4      2             4      1      2.33          1
...                ...    ...           ...    ...       ...        ...
270133               1      0             5      0     17.25         49
270134               4      0             2      0     10.08         49
270135               0      0             5      0     10.42         49
270136               1      0             2      0     10.00         49
270137               4      0             2      0     10.08         49

[270138 rows x 6 columns]

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [11]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
164710               2      0             5      1      6.17         21
263548               1      0             5      0     13.17         39
52100                1      0             2      1     11.42         30
242834               5      0             2      0     22.42         42
37655                2      0             3      1      6.67         42
...                ...    ...           ...    ...       ...        ...
125821               0      0             2      1     29.50         31
65925                4      0             5      1     11.83         22
268262               1      0             2      0     13.17          2
39198                2      2             5      1      2.08          5
100972               0      0             5      1      7.58         23

[216110 rows x 6 columns]

In [12]:
min_items_list = list(X.min())

In [13]:
max_items_list = list(X.max())

In [14]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

In [15]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

In [16]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [17]:
X.min()

departure_time    0.00
stops             0.00
arrival_time      0.00
class             0.00
duration          0.83
days_left         1.00
dtype: float64

In [18]:
X.max()

departure_time     5.00
stops              2.00
arrival_time       5.00
class              1.00
duration          49.83
days_left         49.00
dtype: float64

In [19]:
Y_max = Y.max()
Y_max

In [20]:
Y_min = Y.min()
Y_min

In [22]:
price_normalization = np.array([])

In [ ]:
price_normalization = Y_train['price'].to_numpy()

In [ ]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - Y_min)/ (Y_max - Y_min))

In [ ]:
Y_max

In [ ]:
Y_min