In [161]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [162]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [163]:
label_encoder = LabelEncoder()

X['departure_time'] =label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [164]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [165]:
Y = list(X['price'])

In [166]:
Y = {'price' : Y}
Y = pd.DataFrame(Y)

In [167]:
Y

        price
0        5953
1        5953
2        5956
3        5955
4        5955
...       ...
270133  68739
270134  69265
270135  77105
270136  81585
270137  81585

[270138 rows x 1 columns]

In [168]:
X['departure_time'] = X['departure_time'].astype(float)
X['stops'] = X['stops'].astype(float)
X['arrival_time'] = X['arrival_time'].astype(float)
X['class'] = X['class'].astype(float)
X['days_left'] = X['days_left'].astype(float)

Y['price'] = Y['price'].astype(float)

In [169]:
X = X.drop('price', axis=1)

In [170]:
X

        departure_time  stops  arrival_time  class  duration  days_left
0                  2.0    2.0           5.0    1.0      2.17        1.0
1                  1.0    2.0           4.0    1.0      2.33        1.0
2                  1.0    2.0           1.0    1.0      2.17        1.0
3                  4.0    2.0           0.0    1.0      2.25        1.0
4                  4.0    2.0           4.0    1.0      2.33        1.0
...                ...    ...           ...    ...       ...        ...
270133             1.0    0.0           5.0    0.0     17.25       49.0
270134             4.0    0.0           2.0    0.0     10.08       49.0
270135             0.0    0.0           5.0    0.0     10.42       49.0
270136             1.0    0.0           2.0    0.0     10.00       49.0
270137             4.0    0.0           2.0    0.0     10.08       49.0

[270138 rows x 6 columns]

In [171]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [172]:
Y

          price
0        5953.0
1        5953.0
2        5956.0
3        5955.0
4        5955.0
...         ...
270133  68739.0
270134  69265.0
270135  77105.0
270136  81585.0
270137  81585.0

[270138 rows x 1 columns]

In [173]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
236928             2.0    0.0           3.0    0.0      7.33       36.0
97219              4.0    0.0           5.0    1.0     11.92       38.0
157007             5.0    0.0           2.0    1.0     20.75       33.0
129645             5.0    0.0           1.0    1.0     11.25       15.0
243261             2.0    2.0           5.0    0.0      2.25        3.0
...                ...    ...           ...    ...       ...        ...
254208             0.0    2.0           0.0    0.0      1.25       40.0
167079             1.0    0.0           0.0    1.0      7.17       37.0
162536             2.0    0.0           5.0    1.0      7.67        2.0
53330              4.0    0.0           5.0    1.0     10.00       37.0
179981             2.0    2.0           5.0    1.0      2.33       23.0

[216110 rows x 6 columns]

In [174]:
Y_train

          price
236928  53743.0
97219    7109.0
157007   8832.0
129645  10782.0
243261  25956.0
...         ...
254208  12114.0
167079   4827.0
162536  21213.0
53330    6450.0
179981   4656.0

[216110 rows x 1 columns]

In [175]:
min_items_list = list(X.min())

In [176]:
max_items_list = list(X.max())

In [177]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

departure_time_test = np.array([])
stops_test = np.array([])
arrival_time_test = np.array([])
class_test = np.array([])
duration_test = np.array([])
days_left_test = np.array([])

In [178]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

departure_time_test = X_test['departure_time'].to_numpy()
stops_test = X_test['stops'].to_numpy()
arrival_time_test = X_test['arrival_time'].to_numpy()
class_test = X_test['class'].to_numpy()
duration_test = X_test['duration'].to_numpy()
days_left_test = X_test['days_left'].to_numpy()

In [179]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

for i in range(len(X_test.index)):
    np.put(departure_time_test, [i], (departure_time_test[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_test, [i], (stops_test[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_test, [i], (arrival_time_test[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_test, [i], (class_test[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_test, [i], (duration_test[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_test, [i], (days_left_test[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [180]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
236928             0.4    0.0           0.6    0.0  0.132653   0.729167
97219              0.8    0.0           1.0    1.0  0.226327   0.770833
157007             1.0    0.0           0.4    1.0  0.406531   0.666667
129645             1.0    0.0           0.2    1.0  0.212653   0.291667
243261             0.4    1.0           1.0    0.0  0.028980   0.041667
...                ...    ...           ...    ...       ...        ...
254208             0.0    1.0           0.0    0.0  0.008571   0.812500
167079             0.2    0.0           0.0    1.0  0.129388   0.750000
162536             0.4    0.0           1.0    1.0  0.139592   0.020833
53330              0.8    0.0           1.0    1.0  0.187143   0.750000
179981             0.4    1.0           1.0    1.0  0.030612   0.458333

[216110 rows x 6 columns]

In [181]:
arrival_time_normalization[2]
#departure_time_normalization[3]

0.4

In [182]:
X.min()

departure_time    0.00
stops             0.00
arrival_time      0.00
class             0.00
duration          0.83
days_left         1.00
dtype: float64

In [183]:
X.max()

departure_time     5.00
stops              2.00
arrival_time       5.00
class              1.00
duration          49.83
days_left         49.00
dtype: float64

In [184]:
#Y_max = Y.max()
Y_max = 123071
Y_max

123071

In [185]:
#Y_min = Y.min()
Y_min = 1105
Y_min

1105

In [186]:
price_normalization = np.array([])
price_test = np.array([])

In [187]:
price_normalization = Y_train['price'].to_numpy()
price_test = Y_test['price'].to_numpy()

In [188]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - Y_min)/ (Y_max - Y_min))

for i in range(len(Y_test.index)):
    np.put(price_test, [i], (price_test[i] - Y_min)/ (Y_max - Y_min))

In [189]:
def mse(y_train, y_predicted):
     mse_error = np.sum((y_train - y_predicted)**2) / (2 * len(y_train))
     return mse_error

def rmse(y_train, y_predicted):
     rmse_error = np.sqrt(mse(y_train, y_predicted))
     return rmse_error

def mae(y_train, y_predicted):
     mae_error = np.sum(np.abs(y_train - y_predicted)) / (2 * len(y_train))
     return mae_error

def r_squared (y_train, y_predicted):
     r_squared_error = 1 - (np.sum((y_train - y_predicted)**2) / np.sum((y_train - np.average(y_train))**2))
     return r_squared_error

In [195]:
def gradient_descent(departure_time, stops, arrival_time, class_type, duration, days_left,
                     price, iterations, learning_rate = 0.01, stopping_threshold = 1e-3):
    w_departure_time = 0.05
    w_stops = 0.2
    w_arrival_time = 0.05
    w_class_type = 0.6
    w_duration = 0.3
    w_days_left = 0.3
    b = 0.01
    
    n = float(len(departure_time))
     
    mse_errors = []
    weights = []
    previous_mse_error = None

    for i in range(iterations):
         
        # Making predictions
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b)
        # Calculating the current cost
        mse_error = mse(price, price_predicted)
 
        # If the change in cost is less than or equal to 
        # stopping_threshold we stop the gradient descent
        if previous_mse_error and abs(previous_mse_error - mse_error) <= stopping_threshold:
            break
         
        previous_mse_error = mse_error
 
        mse_errors.append(mse_error)
        # weights.append(w)
         
        # Calculating the gradients
        w_departure_time_derivative = -(2/n) * sum(departure_time * (price - price_predicted))
        w_stops_derivative = -(2/n) * sum(stops * (price - price_predicted))
        w_arrival_time_derivative = -(2/n) * sum(arrival_time * (price - price_predicted))
        w_class_type_derivative = -(2/n) * sum(class_type * (price - price_predicted))
        w_duration_derivative = -(2/n) * sum(duration * (price - price_predicted))
        w_days_left_derivative = -(2/n) * sum(days_left * (price - price_predicted))
        b_derivative = -(2/n) * sum(price - price_predicted)
         
        # Updating weights and bias
        w_departure_time = w_departure_time - (learning_rate * w_departure_time_derivative)
        w_stops = w_stops - (learning_rate * w_stops_derivative)
        w_arrival_time = w_arrival_time - (learning_rate * w_arrival_time_derivative)
        w_class_type = w_class_type - (learning_rate * w_class_type_derivative)
        w_duration = w_duration - (learning_rate * w_duration_derivative)
        w_days_left = w_days_left - (learning_rate * w_days_left_derivative)
        b = b - (learning_rate * b_derivative)

        print(mse_errors[i])
    return w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b

w_departure_time, w_stops, w_arrival_time, w_class_type, w_duration, w_days_left, b = gradient_descent(
    departure_time_normalization, stops_normalization, arrival_time_normalization,
    class_normalization, duration_normalization, days_left_normalization,
    price_normalization, len(price_normalization))

0.2746297484610903
0.25469660653034465
0.23666850580008852
0.22035922907031316
0.20560079389493874
0.19224166675144078
0.1801451521086431
0.16918793926373105
0.15925879149708988
0.1502573636068286
0.14209313524991135
0.13468444874817917
0.1279576411283165
0.12184626116680237
0.11629036311474082
0.11123586959279572
0.10663399688194121
0.10244073649918742
0.09861638754591912
0.09512513485634516
0.09193466846054894
0.08901584031592522
0.08634235465706161
0.08389048867158629
0.08163884053195863
0.07956810210405175
0.07766085391576617
0.0759013802056007
0.07427550208461683
0.07277042703783253
0.0713746131648158
0.0700776467159712
0.06887013162238383
0.06774358984461204
0.06669037148085859

In [196]:
def price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left,
                        arrival_time, departure_time, stops, class_type, duration, days_left, b):
    price_predicted = (w_arrival_time * arrival_time) + (w_departure_time * departure_time) + (w_stops * stops) + (w_class_type * class_type) +(w_duration * duration) + (w_days_left * days_left) + b
    return price_predicted

In [197]:
def test(arrival_time, departure_time, stops, class_type, duration, days_left,
         price, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b):
    
    for i in range(len(X_test)):
        price_predicted = price_predicted_cal(w_arrival_time, w_departure_time, w_stops, w_class_type,
                                              w_duration, w_days_left, arrival_time, departure_time,
                                              stops, class_type, duration, days_left, b)

    mse_error = mse(price_test, price_predicted)
    rmse_error = rmse(price_test, price_predicted)
    mae_error = mae(price_test, price_predicted)
    r_squared_error = r_squared(price_test, price_predicted)

    print(mse_error)
    print(rmse_error)
    print(mae_error)
    print(r_squared_error)

test(arrival_time_test, departure_time_test, stops_test, class_test, duration_test, days_left_test, 
     price_test, w_arrival_time, w_departure_time, w_stops, w_class_type, w_duration, w_days_left, b)

0.06563507536028539
0.25619343348393103
0.16832992245433137
-2.80368397939335