In [230]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [231]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [232]:
label_encoder = LabelEncoder()

X['departure_time'] = label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [233]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [234]:
Y = X['price']

In [235]:
X = X.drop('price', axis=1)

In [236]:
X

        departure_time  stops  arrival_time  class  duration  days_left
0                    2      2             5      1      2.17          1
1                    1      2             4      1      2.33          1
2                    1      2             1      1      2.17          1
3                    4      2             0      1      2.25          1
4                    4      2             4      1      2.33          1
...                ...    ...           ...    ...       ...        ...
270133               1      0             5      0     17.25         49
270134               4      0             2      0     10.08         49
270135               0      0             5      0     10.42         49
270136               1      0             2      0     10.00         49
270137               4      0             2      0     10.08         49

[270138 rows x 6 columns]

In [237]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [238]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left
62583                2      0             2      1     23.58         45
132164               1      0             0      1      9.67         38
1634                 1      0             5      1     14.92         11
214990               5      0             2      0     19.08         14
115671               5      0             4      1     10.67          9
...                ...    ...           ...    ...       ...        ...
238885               1      0             2      0     10.50         22
118225               1      0             0      1      9.58         25
156554               0      0             5      1      9.83         29
183004               0      0             5      1      8.42         10
248974               1      0             2      0     12.00         38

[216110 rows x 6 columns]

In [239]:
min_items_list = list(X.min())

In [240]:
max_items_list = list(X.max())

In [241]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

In [242]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

In [243]:
stops_normalization

array([0, 0, 0, ..., 0, 0, 0])

In [244]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [245]:
X.min()

departure_time    0.00
stops             0.00
arrival_time      0.00
class             0.00
duration          0.83
days_left         1.00
dtype: float64

In [246]:
X.max()

departure_time     5.00
stops              2.00
arrival_time       5.00
class              1.00
duration          49.83
days_left         49.00
dtype: float64

In [247]:
(duration_normalization[2] - min_items_list[4])

-0.5424489795918367

In [248]:
duration_normalization[2]

0.28755102040816327