In [51]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [52]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [47]:
label_encoder = LabelEncoder()

X['departure_time'] = label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [48]:
X

        departure_time  stops  arrival_time  class  duration  days_left  price
0                    2      2             5      1      2.17          1   5953
1                    1      2             4      1      2.33          1   5953
2                    1      2             1      1      2.17          1   5956
3                    4      2             0      1      2.25          1   5955
4                    4      2             4      1      2.33          1   5955
...                ...    ...           ...    ...       ...        ...    ...
270133               1      0             5      0     17.25         49  68739
270134               4      0             2      0     10.08         49  69265
270135               0      0             5      0     10.42         49  77105
270136               1      0             2      0     10.00         49  81585
270137               4      0             2      0     10.08         49  81585

[270138 rows x 7 columns]

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [50]:
X_train

        departure_time  stops  arrival_time  class  duration  days_left  price
59984                1      0             2      1     13.08         30   5949
122896               4      0             0      1     26.75          9  10374
122321               0      0             2      1      5.67          3  26912
75975                2      0             2      1     21.75          3  13579
265247               2      0             5      0      6.17         26  60260
...                ...    ...           ...    ...       ...        ...    ...
160744               1      0             4      1      3.25         28   4453
264254               1      0             1      0     24.83          6  44144
99179                0      0             5      1     10.25          6  13054
39536                2      0             3      1      6.83          7   7412
14586                1      0             2      1     11.75         31   4896

[216110 rows x 7 columns]