In [235]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [236]:
X = pd.read_csv('Flight_Price_Dataset_Q2.csv')

In [ ]:
label_encoder = LabelEncoder()

X['departure_time'] =label_encoder.fit_transform(X['departure_time'])
X['stops'] = label_encoder.fit_transform(X['stops'])
X['arrival_time'] = label_encoder.fit_transform(X['arrival_time'])
X['class'] = label_encoder.fit_transform(X['class'])

In [ ]:
X

In [ ]:
Y = list(X['price'])

In [ ]:
Y = {'price' : Y}
Y = pd.DataFrame(Y)

In [ ]:
Y

In [ ]:
X['departure_time'] = X['departure_time'].astype(float)
X['stops'] = X['stops'].astype(float)
X['arrival_time'] = X['arrival_time'].astype(float)
X['class'] = X['class'].astype(float)
X['days_left'] = X['days_left'].astype(float)

Y['price'] = Y['price'].astype(float)

In [ ]:
X = X.drop('price', axis=1)

In [ ]:
X

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
Y

In [ ]:
X_train

In [ ]:
Y_train

In [ ]:
min_items_list = list(X.min())

In [ ]:
max_items_list = list(X.max())

In [ ]:
departure_time_normalization = np.array([])
stops_normalization = np.array([])
arrival_time_normalization = np.array([])
class_normalization = np.array([])
duration_normalization = np.array([])
days_left_normalization = np.array([])

In [ ]:
departure_time_normalization = X_train['departure_time'].to_numpy()
stops_normalization = X_train['stops'].to_numpy()
arrival_time_normalization = X_train['arrival_time'].to_numpy()
class_normalization = X_train['class'].to_numpy()
duration_normalization = X_train['duration'].to_numpy()
days_left_normalization = X_train['days_left'].to_numpy()

In [ ]:
for i in range(len(X_train.index)):
    np.put(departure_time_normalization, [i], (departure_time_normalization[i] - min_items_list[0])/ (max_items_list[0] - min_items_list[0]))

    np.put(stops_normalization, [i], (stops_normalization[i] - min_items_list[1])/ (max_items_list[1] - min_items_list[1]))

    np.put(arrival_time_normalization, [i], (arrival_time_normalization[i] - min_items_list[2])/ (max_items_list[2] - min_items_list[2]))

    np.put(class_normalization, [i], (class_normalization[i] - min_items_list[3])/ (max_items_list[3] - min_items_list[3]))

    np.put(duration_normalization, [i], (duration_normalization[i] - min_items_list[4])/ (max_items_list[4] - min_items_list[4]))

    np.put(days_left_normalization, [i], (days_left_normalization[i] - min_items_list[5])/ (max_items_list[5] - min_items_list[5]))

In [ ]:
X_train

In [ ]:
arrival_time_normalization[2]
#departure_time_normalization[3]

In [ ]:
X.min()

In [ ]:
X.max()

In [ ]:
#Y_max = Y.max()
Y_max = 123071
Y_max

In [ ]:
#Y_min = Y.min()
Y_min = 1105
Y_min

In [ ]:
price_normalization = np.array([])

In [ ]:
price_normalization = Y_train['price'].to_numpy()

In [ ]:
Y_train

In [ ]:
 np.put(price_normalization, [2], (price_normalization[2] - Y_min)/ (Y_max - Y_min))

In [ ]:
price_normalization[2]

In [ ]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - 1)/ (10 - 1))

In [ ]:
Y_train

In [ ]:
price_normalization[2]

In [ ]:
price_normalization = Y_train['price'].to_numpy()

In [ ]:
Y_train

In [ ]:
 np.put(price_normalization, [2], (price_normalization[2] - Y_min)/ (Y_max - Y_min))

In [ ]:
price_normalization[2]

In [ ]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - 1)/ (10 - 1))

In [ ]:
Y_train

In [ ]:
price_normalization[2]

In [156]:
price_normalization = Y_train['price'].to_numpy()

In [157]:
Y_train

        price
98467    3393
193685  32859
147704   4613
140354   9946
167916   3219
...       ...
116341  12054
60857    5949
174913   3362
254798  48795
140738   2276

[216110 rows x 1 columns]

In [158]:
 np.put(price_normalization, [2], (price_normalization[2] - Y_min)/ (Y_max - Y_min))

In [159]:
price_normalization[2]

0

In [160]:
for i in range(len(Y_train.index)):
    np.put(price_normalization, [i], (price_normalization[i] - 1)/ (10 - 1))

In [161]:
Y_train

        price
98467     376
193685   3650
147704      0
140354   1105
167916    357
...       ...
116341   1339
60857     660
174913    373
254798   5421
140738    252

[216110 rows x 1 columns]

In [ ]:
price_normalization[2]